<?php
    if(!defined("CONST_KEY") || CONST_KEY !== "0192443a-e402-7917-b816-53eddacf9003"){
        header("Location: ../../403.html", true, 403);
        echo file_get_contents('../../403.html');
        die;
    }

    // Enter a string value used for the JWT validation
    define("JWT_SECRET", "");

    // database configurations
    define("CONST_DB_SERV", "");
    define("CONST_DB_NAME", "");
    define("CONST_DB_CHAR", "");
    define("CONST_DB_USER", "");
    define("CONST_DB_PASS", "");

    define("CONST_IMAGE_PATH", "");
?>